<html>

<head>
  <title>TRAPPIC|LTO</title>
  <link rel="stylesheet" href="content.css">
  <script src="node_modules/web3/dist/web3.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <section id="nav-bar">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html"><img src="trappic logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Maintenance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="driverregistration.html">Driver Registration</a>
              <a class="dropdown-item" href="enforcerregistration.html">Enforcer Registration</a>
              <a class="dropdown-item" href="/registercar">Car Registration</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="violations.html">List of Violations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/payment">Payments</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Search
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/searchdriver">Driver</a>
              <a class="dropdown-item" href="/searchenforcer">Enforcer</a>
              <a class="dropdown-item" href="/viewcar">Car</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>

  </section>

  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="promo-title">SEARCH</p>
        </div>
      </div>
    </div>
  </section>


  <section id="search">
    <div class="row">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-personal-list" data-toggle="list"
          href="#list-personal" role="tab" aria-controls="personal">Personal Info</a>
        <a class="list-group-item list-group-item-action" id="list-history-list" data-toggle="list" href="#list-history"
          role="tab" aria-controls="history">History</a>
      </div>

      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-personal" role="tabpanel"
            aria-labelledby="list-personal-list">

            {{#each result}}
            <form class="form-inline my-2 my-lg-0" action="/editprofile?para1={{licence_no}}&para2={{usertype}}"
              method="POST">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">License No.</th>
                    <td>{{licence_no}}</th>
                    <th>Firstname</th>
                    <td>{{fname}}</td>


                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <th>Middlename</th>
                    <td>{{mname}}</td>
                    <th>Lastname</th>
                    <td>{{lname}}</td>
                  </tr>

                </tbody>
                <thead>
                  <tr>

                    <th>User Type</th>
                    <td>{{usertype}}</td>
                    <th scope="col">Nationality</th>
                    <td>{{nationality}}</th>
                  </tr>
                  <br>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">Sex</th>
                    <td>{{sex}}</td>
                    <th scope="col">Email</th>
                    <td>{{email}}</td>
                  </tr>

                </tbody>
                <thead>
                  <tr>
                    <th scope="col">Zip Code</th>
                    <td>{{zip}}</td>
                    <th scope="col">Address</th>
                    <td>{{address}}</td>
                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <th scope="col">Birthday</th>
                    <td>{{bday}}</td>
                    <th scope="col">Birthplace</th>
                    <td>{{birthplace}}</td>

                  </tr>

                </tbody>

                {{/each}}
              </table>
              <button type="submit" class="btn btn-outline-success">Edit</button>
            </form>
          </div>



          <div class="tab-pane fade" id="list-history" role="tabpanel" aria-labelledby="list-history-list">


            <h3>History of Tickets</h3>
            <form class="form-inline my-2 my-lg-0">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Driver's Name</th>
                    <th scope="col">License No.</th>
                    <th scope="col">Date Caught</th>
                    <th scope="col">Violation</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>

                  </tr>
                </thead>
                <tbody id="hv">

                </tbody>
              </table>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../server.js"></script>
  <script>

    web3.eth.getAccounts().then(function (accounts) {
      var acc = accounts[2];
      var mycontract;
      $(document).ready(function () {
        mycontract = new web3.eth.Contract(abi, address, {
          from: acc,
          gasPrice: '0',
          gas: 1400000
        });
        display();
      })

      function display() {
        var list = $("#hv");
        list.empty();
        mycontract.methods.getlength().call().then(function (len) {
          let ctr = 0;
          for (let x = 0; x < len; x++) {
            mycontract.methods.getddata(x).call({ from: acc }).then(function (result) {
              let driver = "";
              let license = "";
              {{#each result}}
              let dno = "{{dno}}";
              {{/each}}
              if (result[0] == dno) {
                {{#each driver}}
                if ("{{dno}}" == result[1]) {
                  driver = "{{name}}";
                  license = "{{licence_no}}";
                }
                {{/each}}
                let status = "pending";
                if (result[5] == true) {
                  status = "Paid";
                }
                ctr++;
                var add = "<tr><td>" + ctr + "</td><td>" + driver + "</td><td>" + license + "</td><td>" + result[2] + "</td><td>" + result[3] + "</td><td>" + result[4] + "</td><td>" + status + "</td></tr>";
                list.append(add);
              }
            });
          }
        });
      }
    });
  </script>
</body>

</html>