<html>

<head>
  <title>TRAPPIC|DRIVER</title>
  <script src="node_modules/web3/dist/web3.js" type="text/javascript"></script>
  <link rel="stylesheet" href="content.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <section id="nav-bar">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/home"><img src="trappic logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="violations.html">List of Violations<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/history">Caught History</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/payment">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Account</a>
          </li>

        </ul>
      </div>
    </nav>
  </section>

  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="promo-title">Driver Violations</p>
        </div>
      </div>
    </div>
  </section>
  <section id="registrations">
    <h5>Pending Violations</h5>
    
  <div class="table-responsive">
    <form class="form-inline my-2 my-lg-0">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Violation</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">Officer</th>
            <th scope="col">DueDate</th>
            <th scope="col">Payment</th>
            <th scope="col">Penalty</th>
            <th scope="col">License Tracker</th>

          </tr>
        </thead>
        <tbody id="pv">

        </tbody>
      </table>
    </form>
    </div>


    <h5>History of Violations</h5>
  <div class="table-responsive">
    <form class="form-inline my-2 my-lg-0">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Violation</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">Officer</th>
            <th scope="col">DueDate</th>
            <th scope="col">Payment</th>
            <th scope="col">Penalty</th>
            <th scope="col">License Tracker</th>

          </tr>
        </thead>
        <tbody id="hv">

        </tbody>
      </table>
    </form>
    </div>
  </section>
  {{#each result}}
  <p id="enno">{{dno}}</p>
  {{/each}}
  <script src="../server.js"></script>
  <script>
  web3.eth.getAccounts().then(function(accounts)
	{
    var acc = accounts[1];
    var mycontract;
    $(document).ready(function()
    {
      mycontract = new web3.eth.Contract(abi,address,{from: acc,
      gasPrice: '0',
      gas: 1400000});
			pdisplay();   
      hdisplay();
    })

    function pdisplay()
    {
      var list = $("#pv");
      list.empty();

      mycontract.methods.getlength().call().then(function(len)
			{
        let ctr = 0;
        for(let x= 0;x < len;x++)
        {
          mycontract.methods.getddata(x).call({from: acc}).then(function(result)
          {
            let driver = "";
            let enforcer = "";
            let license = "";
            if(result[5] == false)
            {
              {{#each enforcer}}
              if("{{dno}}" == result[0])
              {
                enforcer = "{{name}}";
              }
              {{/each}}
              {{#each driver}}
              if("{{dno}}" == result[1])
              {
                driver = "{{name}}";
                mycontract.methods.getppdata(x).call({from: acc}).then(function(result1)
                {
                  ctr++;
                  var datenow = new Date();
                  var due = new Date(result1[0]);
                  let d = 0;
                  while(due < datenow)
                  {
                    d++;
                    due.setDate(due.getDate() + 1);
                  }
                  if(d != 0)
                  d--;
                  let pen = 100 * d;
                  var add = "<tr><td>"+ctr+"</td><td>"+result[3]+"</td><td>"+result[4]+"</td><td>"+result[2]+"</td><td>"+enforcer+"</td><td>"+result1[0]+"</td></td><td>"+result1[1]+"</td></td><td>"+pen+"</td></td><td>"+result1[3]+"</td></tr>";
                  list.append(add);
                });
              }
              {{/each}}
            }
          });
        }
      }); 
    }
    function hdisplay()
    {
      var list = $("#hv");
      list.empty();

      mycontract.methods.getlength().call().then(function(len)
			{
        let ctr = 0;
        for(let x= 0;x < len;x++)
        {
          mycontract.methods.getddata(x).call({from: acc}).then(function(result)
          {
            let driver = "";
            let enforcer = "";
            let license = "";
            if(result[5] == true)
            {
              {{#each enforcer}}
              if("{{dno}}" == result[0])
              {
                enforcer = "{{name}}";
              }
              {{/each}}
              {{#each driver}}
              if("{{dno}}" == result[1])
              {
                driver = "{{name}}";
                mycontract.methods.getppdata(x).call({from: acc}).then(function(result1)
                {
                  ctr++;
                  var datenow = new Date();
                  var due = new Date(result1[0]);
                  let d = 0;
                  while(due < datenow)
                  {
                    d++;
                    due.setDate(due.getDate() + 1);
                  }
                  if(d != 0)
                  d--;
                  let pen = 100 * d;
                  var add = "<tr><td>"+ctr+"</td><td>"+result[3]+"</td><td>"+result[4]+"</td><td>"+result[2]+"</td><td>"+enforcer+"</td><td>"+result1[0]+"</td></td><td>"+result1[1]+"</td></td><td>"+result1[2]+"</td></td><td>"+result1[3]+"</td></tr>";
                  list.append(add);
                }); 
              }
              {{/each}}
            }
          });
        }
      });
    }
  }); 
  </script>
</body>

</html>